@{
    ViewData["Title"] = "EditModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/EditModelStyle.css" rel="stylesheet" />
<partial name="_AddScripts" />

<div id="ModelCanvas" class="ModelCanvas">
</div>
<div id=" ModelOptionsContainer" class="ModelOptionsContainer">
    <button onclick="ShowHideOptions()" class="btn ShowHideButton">Show/hide</button>
    <div id="ModelOptions" class="ModelOptions">
        <button class="btn btn-info" onclick="RemoveObject()"> Start with clean object</button>
        <div class="UploadNewModel">
            <partial name="_UploadModel" />
        </div>
        <div class="SelectType">
            <partial name="_SelectModel" />
        </div>
        <div class="ShowEditTexture">
            <partial name="_ShowEditTexture" />
        </div>
    </div>

</div>



<div id="materialpreview" class="split right">

</div>

<script src="~/js/three/three.js"></script>
<script src="~/js/three/GLTFLoader.js"></script>
<script src="~/js/three/OrbitControls.js"></script>
<script src="~/js/three/RGBELoader.js"></script>
<script src="~/js/three/PMREMCubeUVPacker.js"></script>
<script src="~/js/three/PMREMGenerator.js"></script>
<script type="module" src="~/js/3DConfigurator/SceneCreator.js"></script>

<script type="text/javascript">
    var modelOptions = document.getElementById('ModelOptions')


    function ShowHideOptions() {

        if (modelOptions.style.visibility == 'hidden') {
            modelOptions.style.visibility = 'visible';
            modelOptions.style.height = '500px';
        }
        else {
            modelOptions.style.visibility = 'hidden';
            modelOptions.style.height = '0px';
        }
    }

</script>


