body {
    height:100%;
}

.ModelCanvas {
    width: 100%;
    height:80%;
    background-color: lightgrey;
    position: absolute;

}

.ModelOptionsContainer {
    width: 25%;
    float: right;
    background-color: lightslategrey;
    position: absolute;
    right: 5px;
    
}

.ShowHideButton {
    height:50px;
    width:100%;
    

}

.ModelOptions {
    visibility: visible;
    height: 500px;
    background-color: grey;
    padding: 15px;
    overflow:auto;
}

.UploadNewModel {
    margin-top:10px;

}

.SelectType{

margin-top:15px;
}

