body {

    margin:0;
    background-color:lightgrey;
}

canvas {
width: 50%;
height:50%;
background-color:grey;
}

.ConfiguratieOptions {
    
    height: 40%;
    background-color:aqua;
}

.ConfiguratiePreview {
    height: 40%;
    width: 50%;
}


/* Split the screen in half */
.split {
    height: 500px;
    width: 50%;
    float:left;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    padding:15px;
    left: 0;
    background-color: grey;
}

/* Control the right side */
.right {
    padding:0;
    right: 0;
    background-color: lightgrey;
    overflow:hidden;
}